{%load bootstrap3%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
  {% include 'all-scoots/navbar.html' %}
  <div class="w3-card-4">

<header class="w3-container w3-blue">
  <h1>Login</h1>
</header>

<div class="container">
  <form method="post">
      {% csrf_token %} {% bootstrap_form form%}
      <button type="submit" class="btn btn-primary"> Login </button>
  </form>
</div>

</div>
  </div>
</body>
</html>
<style media="screen">
body{
  margin-top: 80px;
}
</style>
