<style media="screen">
  /* f. Footer section */

  .footer {
    padding: 60px 0;
    width: 100%;
    background: #313131;
    color: #fff;
    height: 280px;
  }

  .footer-title {
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #4e4e4e;
  }

  .footer-title:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 30px;
    height: 4px;
    background: #ff304d;
  }

  .footer-links a {
    padding: 10px 0;
    border-bottom: 1px solid #404040;
    color: #fff;
    display: block;
    transition: color 0.5s ease-in-out;
  }

  .footer-links a:hover {
    color: #ff304d;
  }
  /* g. Footer bottom section */

  .footer-bottom {
    width: 100%;
    padding: 25px 0;
    text-align: center;
    color: #fff;
    background: #222222;
  }
  @media screen and (max-width: 650px) {
    .footer-title{
      font-size: 10px;
    }
  }
</style>
<!-- Include the above in your HEAD tag  -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-8 m-b-30">
              <div class="footer-title m-t-5 m-b-20 p-b-8">
                About us
              </div>
              <p class="white-text" id='about'>
                Scorpus Cargo Logistics is your first company choice for all your Freight and Cargo Logistics requirements and makes business flow. As one of the world’s leading non-asset- based supply chain management companies, we design and implement industry-leading
                solutions in both freight management and contract logistics. Trans Continental Logistics cargo applies its renowned operational expertise to provide best-in-class services across its integrated worldwide network, where our focus is equally
                on general business and the specialist needs of the automotive, consumer & retail, energy, healthcare, industrial & aerospace and technology sectors. We are based in Kenya with a very strong presence and clientelle in East and Central
                Africa.

              </p>
            </div>
            <div class="col-md-3 m-b-30">
              <div class="footer-title m-t-5 m-b-20 p-b-8">
                Contact Info
              </div>
              <div class="footer-links">
                <p><i class="fa fa-home mr-3"></i> Trace Towers, Tsavo Road</p>
                <p><i class="fa fa-envelope mr-3"></i>info@scorpuscargologistics.co.ke</p>
                <!-- <p><i class="fa fa-phone mr-3"></i> +254(0) 710 143 397</p>
                <p><i class="fa fa-phone mr-3"></i> +254(0) 755 461 423</p> -->
                <!-- <p><i class="fa fa-print mr-3"></i>  + 254 710 143 397</p> -->
              </div>
            </div>
          </div>
        </div>
      <div class="footer-bottom">
        <a href="https://vincentmuya.herokuapp.com">Vincent Muya ©  2018</a>
      </div>
    </footer>
    </div>
  </div>
</div>
