{% extends 'all-scoots/base.html'%} {%block content%}

<head>
  <style media="screen">
    ul.service{
      margin-top: 0;
      margin-bottom: 1rem;
      list-style-type: circle;
    }
    h3{
      font-size: 20px;
    }
    p{
      font-size: 13px;
    }
    li{
      font-size: 13px;
    }
  </style>

</head>
<section id="hero" class="hero-section section">
  <div class="hero-text container">
    <div class="hero-text-table-cell text-center">
      <div class="hero-top-text">
        <h1>Our services</h1>
      </div>
      <div class="hero-middle-text">
        <ul class="service" data-interval="5000">
          <div class="row">
            <div class="col-md-4">
              <li>INTERNATIONAL FREIGHT SERVICES</li>
              <li>LAND TRANSPORTATION AND DELIVERY</li>
              <li>THIRD PARTY LOGISTICS AND DISTRIBUTION</li>
            </div>
            <div class="col-md-4">
              <li>WAREHOUSE SERVICES</li>
              <li>ONLINE SHIPMENT TRACKING</li>
            </div>
            <div class="col-md-4">
              <li>PACKING SERVICES</li>
              <li>CUSTOMS CLEARANCE </li>
            </div>
          </div>

        </ul>
      </div>
    </div>
  </div>
</section>
<!-- <header id="header" class="header-section section navbar navbar-default header-floating" role="navigation">
      </header> -->
<!-- Air card -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 30rem;">
        <img src="/static/air.jpeg"
          alt="" width="298px" height="200px">
        <div class="card-block">
          <h3 class="card-title">Air Services</h3>
          <p class="card-text">Your way is our way. With a full range of air freight solutions across the globe and an entirely independent position, we can create the perfect air freight solution for you. We pick up and drop off wherever you want and provide the lead times you ask for: Fixed traffic solutions with pre-booked space. Charters for larger cargo or special transports. On demand service with the next departing flight. Express flights for rush documents and packages.</p>
        </div>
      </div>
    </div>
    <!-- Water card -->
    <div class="col-md-4">
      <div class="card" style="width: 30rem;">
        <img src="/static/water.jpeg"
          alt="" width="298px" height="200px">
        <div class="card-block">
          <h3 class="card-title">Water Services</h3>
          <p class="card-text">We operate globally and cooperate with a number of different shipping companies. Our independent position means that we are free to choose the option that best meets your needs and wishes. With your own staff or contracted partners in all destinations, and our IT system, we follow your shipment the entire way from start to finish.</p>
        </div>
      </div>
    </div>
    <!-- land card -->
    <div class="col-md-4">
      <div class="card" style="width: 30rem;">
        <img src="/static/road.jpeg" alt="My image" />
        <div class="card-block">
          <h3 class="card-title">Land Services</h3>
          <p class="card-text">We transport goods across all of Africa. We know our markets inside and out. And we know exactly what to do to meet the stringent demands for punctuality, cargo care, safety and security that we insist upon..</p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

{% include 'all-scoots/footer.html' %}
{%endblock%}
