{% load bootstrap4 %} {% load staticfiles %} {%block content%}

<head>
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<nav class="navbar navbar-default navbar-doublerow navbar-trans navbar-fixed-top">
  <nav class="navbar navbar-down">
    <div class="container">
      <div class="flex-container">
        <div class="navbar-header flex-item">
          <div class="navbar-brand" ><a href="/#home">Scorpus Logistics<span class="glyphicon glyphicon-home"></a></span></div>
        </div>
        <ul class="nav navbar-nav flex-item hidden-xs pull-right">
          <form class="navbar-form" role="search" action="{% url 'search_results' %}">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search Cargo" name="referenceID">
              <div class="input-group-btn">
                <button class="btn btn-primary" >Search</button>
              </div>
            </div>

          </form>
        </ul>
        <!-- dropdown only moblie -->
          <div class="dropdown visible-xs pull-right">
            <form class="navbar-form" role="search" action="{% url 'search_results' %}">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search referenceid" name="referenceID">
                <div class="input-group-btn">
                  <button class="btn btn-primary" >Search</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </nav>
  </nav>
<!--bg img  -->
<style media="screen">

</style>
{%endblock%}
