{% load bootstrap3 %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--
more ui & layout https://github.com/alphadsy
contribute on github : https://github.com/alphadsy/alpha-ui
-->
<nav class="navbar navbar-default navbar-doublerow navbar-trans navbar-fixed-top">
  <!-- top nav -->
  <nav class="navbar navbar-top hidden-xs">
    <div class="container">
      <!-- left nav top -->
      <ul class="nav navbar-nav pull-left">
        <li><a href="#"><span class="text-black">QUESTIONS? CALL: <b>+254(0) 710 143 397</b></span></a></li>
      </ul>
      <!-- right nav top -->
      <ul class="nav navbar-nav pull-right">
        <form class="navbar-form" role="search" action="{% url 'search_results' %}">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search referenceid" name="referenceID">
            <div class="input-group-btn">
              <button class="btn btn-primary" >Search</button>
            </div>
          </div>

        </form>
      </ul>
    </div>
    <div class="dividline light-grey"></div>
  </nav>
  <!-- down nav -->
  <nav class="navbar navbar-down">
    <div class="container">
      <div class="flex-container">
        <div class="navbar-header flex-item">
          <div class="navbar-brand" ><a href="/#home">Scorpus Cargo Logistics<span class="glyphicon glyphicon-home"></a></span></div>
        </div>
        <ul class="nav navbar-nav flex-item hidden-xs">
          <li><a href="/#about">About</a></li>
          <li><a href="/#contact">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav flex-item hidden-xs pull-right">
          <li></li>
        </ul>
        <!-- dropdown only moblie -->
          <div class="dropdown visible-xs pull-right">
            <form class="navbar-form" role="search" action="{% url 'search_results' %}">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search referenceid" name="referenceID">
                <div class="input-group-btn">
                  <button class="btn btn-primary" >Search</button>
                </div>
              </div>

            </form>
            <button class="btn btn-default dropdown-toggle " type="button" id="dropdownmenu" data-toggle="dropdown">
              <span class="glyphicon glyphicon-align-justify"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="/#about">About</a></li>
              <li><a href="/#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </nav>
<!--bg img  -->
<style media="screen">
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-left: 240px;
}
/*scroll effect*/
.navbar-trans {
/*background-color: #e6e6e6;*/
border: none;
transition: top 1s ease;
}
a{
  color: black;
}
/*double row*/
.navbar-doublerow > .navbar{
display: block;
padding: 0px auto;
margin: -4px auto;
min-height: 25px;
}
.navbar-doublerow .nav{
padding: 1px auto;
}
.navbar-doublerow .dividline{
margin: 5px 100px;
padding-top: 1px;
background-color: inherit;
}
/*top nav*/
.navbar-doublerow .navbar-top ul>li>a {
padding: 8px auto;
font-size: 12px;
}
/*down nav*/
.navbar-doublerow .navbar-down .navbar-brand {
padding: 0px auto;
float: left;
color: black;
font-size: 15px;
}
.navbar-doublerow .navbar-down ul>li>a{
  right: 60px;
font-size: 15px;
color: black;
transition: border-bottom .2s ease-in , transform .2s ease-in-out;
}
.navbar-doublerow .navbar-down ul>li>a:hover{
border-bottom: 1px solid #fff;
color: #fff;
}
.navbar-doublerow .navbar-down .dropdown{
  padding: 5px;
  color: #000;
}
.navbar-doublerow .navbar-down .dropdown ul>li>a,
.navbar-doublerow .navbar-down .dropdown ul>li>a:hover{
color: #000;
border-bottom: none;
}
.navbar-doublerow.navbar-trans.afterscroll {
}
.navbar-doublerow.navbar-trans.afterscroll {
 top:-50px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}
.flex-item {
}
/*text*/
.text-black,.text-black-hover:hover{color:black!important}
/*fontcolor*/
.light-grey {color:#000!important;background-color:#E6E9ED!important}

</style>
{% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   {% bootstrap_javascript %}
   <script>
   // toggle class scroll
   $(window).scroll(function() {
       if($(this).scrollTop() > 50)
       {
           $('.navbar-trans').addClass('afterscroll');
       } else
       {
           $('.navbar-trans').removeClass('afterscroll');
       }

   });

   // demo only
   // open link in new tab without ugly target="_blank"
   $("a[href^='http']").attr("target", "_blank");

</script>
  {% endblock %}
