{%extends 'all-scoots/base.html'%} {% load bootstrap4 %} {% load staticfiles %} {%block content%}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>New Cargo</title>
  {{form.media}}


<style media="screen">
  body{
margin-top: 80px;
  }
</style>
</head>
<body>
  <div class="container">
  <form  action="{%url 'new-cargo'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input type="submit" class="btn btn-success btn-lg" value="Post">
  </form>
  </div>
</body>
</html>
{% endblock %}
