{% load bootstrap4 %} {% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>New Cargo</title>
  {{form.media}}

{% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/news.css' %}"> {% endblock %}

</head>

<body>
  <div class="container">
    <button type="button" class="btn"><a href="{%url 'welcome'%}">Home</a></button>
  <form  action="{%url 'new-cargo'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input type="submit" class="btn btn-success btn-lg" value="Post">
  </form>
  </div>

  {% block scripts %}
 <script type="text/javascript" src="{%static 'js/newcargo.js'%}"></script>
{% endblock %}

</body>

</html>
