body{
    margin-top: 80px;
}
table
{
border-collapse: collapse;
border-spacing: 0px;
}
table, th, td
{
padding: 5px;
border: 5px solid black;
}
h1{
  color: black;
  text-align: center;
}
th{
  color: black;
}
td{
  color: black;
  font-size: 15px
}
